<%# locals: (collection:) -%>

<% collection.each do |sample| %>
  <%= tag.tr id: dom_id(sample) do %>
    <td>
      <%= sample.name %>
    </td>
    <td>
      <%= sample.species %>
    </td>
    <td>
      <%= sample.disease_status %>
    </td>
    <td>
      <%= sample.individual %>
    </td>
    <td>
      <%= sample.timepoint %>
    </td>
    <td>
      <%= link_to preview_note_path(subject: 'sample', id: sample.id), data: { turbo_frame: :modal } do %>
        <%= octicon "note", :height => 24 %>
      <% end %>
    </td>
    <td>
      <%= render partial: 'tags/tag_list', locals: { tags: sample.tags } %>
    </td>
  <% end %>
<% end %>
