<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="/projects">
      <h1>Oncology Metadata</h1>
    </a>
  </div>


  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <%= render partial: 'search/searchbar' %>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= @current_user.name %>
        </a>
        <div class="navbar-dropdown is-right">
          <% if current_user.admin? %>
            <%= link_to '/admin', class: "navbar-item" do %>
              Admin
            <% end %>
            <%= link_to '/jobs', class: "navbar-item" do %>
              Background Jobs
            <% end %>
            <%= link_to '/errors', class: "navbar-item" do %>
              Errors
            <% end %>
          <% end %>
          <% if policy(Project).new? %>
            <%= link_to new_project_path, class: "navbar-item" do %>
              Create Project
            <% end %>
          <% end %>
          <%= link_to user_path(@current_user), class: "navbar-item" do %>
            Manage API Key
          <% end %>
          <hr class="navbar-divider">
          <a href="/sign_out" class="navbar-item">
            Sign Out
          </a>
        </div>
      </div>
    </div>
  </div>
  
</nav>
