<%# locals: (collection:, expanded:) -%>

<% collection.each do |project| %>
  <%= tag.tr id: dom_id(project) do %>
    <td>
      <%= link_to project_path(project), data: { turbo_frame: '_top' } do %>
        <%= project.name %>
      <% end %>
    </td>
    <td>
      <%= project.lab.name %>
    </td>
    <td>
      <%= link_to preview_note_path(subject: 'project', id: project.id), data: { turbo_frame: :modal } do %>
        <%= octicon "note", :height => 24 %>
      <% end %>
    </td>
    <td>
      <%= render partial: 'tags/tag_list', locals: { tags: project.tags } %>
    </td>
  <% end %>
<% end %>
