<%= turbo_frame_tag :project do  %>
  <div class="card block">
    <header class="card-header">
      <div class="card-header-title">
        <span class="mr-3"><%= @project.name %></span>

        <%= render partial: 'tags/tag_list', locals: { tags: @project.tags } %>
      </div>
      <div class="card-header-icon">
        <span class="mr-3 is-size-6 has-text-grey">
          <strong>Lab:</strong> <%= @project.lab %>
        </span>
        <%= link_to new_project_upload_path(@project), class: 'button is-small mr-3', data: { turbo_action: 'advance', turbo_frame: '_top' } do %>
          <span class="icon is-small"><%= octicon "upload", :height => 24 %></span>
          <span>Import Data</span>
        <% end %>
        <%= link_to edit_project_path(@project), class: 'button is-small' do %>
          <span class="icon is-small"><%= octicon "pencil", :height => 24 %></span>
          <span>Edit Project</span>
        <% end %>
      </div>
    </header>

    <div class="card-content">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Samples</p>
            <p class="title"><%= @project.samples.distinct.count %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Sequence Objects</p>
            <p class="title"><%= SequencingProduct.where(sample_id: @project.sample_ids).count %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Pipeline Outputs</p>
            <p class="title"><%= PipelineOutput.where(project: @project).count %></p>
          </div>
        </div>
      </nav>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Notes:</strong>
            <div class="has-background-white-bis notes-display">
              <div class="p-4">
                <%== @project.formatted_notes %>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
<% end %>


<div class="card block">
  <%= turbo_frame_tag :browse_view do %>
    <%= render partial: @table_name %>
  <% end %>
</div>

<%= render partial: 'shared/sidebar_highlight', locals: { selected_item_id: 'projects-menu-item' } %>
