<%= turbo_frame_tag :pipeline_output do %>
  <div class="card block">
    <header class="card-header">
      <div class="card-header-title">
        <span class="mr-3">Pipeline Output: <%= @po.data_location %></span>

        <%= render partial: 'tags/tag_list', locals: { tags: @po.tags } %>
      </div>
    </header>

    <div class="card-content">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Sequencing Products</p>
            <p class="title"><%= @po.sequencing_products.count %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Samples</p>
            <p class="title"><%= Sample.joins(sequencing_products: [:pipeline_outputs]).where(sequencing_products: {pipeline_outputs: @po}).distinct.count %></p>
          </div>
        </div>
      </nav>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Notes:</strong>
            <div class="has-background-white-bis notes-display">
              <div class="p-4">
                <%== @po.formatted_notes || 'None' %>
              </div>
            </div>
          </div>
          <div class="content">
            <%= render partial: 'shared/attribute_table', locals: {obj: @po, attribute_list: @attrs } %>
          </div>
        </div>
      </article>
    </div>
  </div>
<% end %>

<div class="card block p-3 mt-3">
  <%= turbo_frame_tag :browse_view do %>
    <%= render partial: @table_name %>
  <% end %>
</div>

<%= render partial: 'shared/sidebar_highlight', locals: { selected_item_id: 'pipeline-outputs-menu-item' } %>
