<div class="content">
  <h1 class="title is-3">Upload <%= @upload_type.titleize.pluralize %> Information</h1>
  <h3 class="subtitle"><%= @project.name %></h3>

  <%= form_with url: project_uploads_path(@project), method: :post, class: 'box' do |form| %>
    <%= form.hidden_field :upload_type, value: @upload_type %>
    <div class="field">
      <div class="control">
        <span data-turbo="false">
          <a target="_blank" href="<%= @template_file %>">Download</a> the template.
        </span>
      </div>
    </div>

    <div class="file is-boxed">
      <label class="file-label">
        <%= form.file_field :import, class: "file-input", onchange: "this.form.requestSubmit()" %>
        <span class="file-cta">
          <span class="file-icon">
            <%= octicon "upload", :height => 24 %>
          </span>
          <span class="file-label">
            Import <%= @upload_type.titleize.pluralize %>
          </span>
        </span>
      </label>
    </div>
  <% end %>
</div>
