<%# locals: (collection:) -%>

<% collection.each do |sp| %>
  <%= tag.tr id: dom_id(sp) do %>
    <td>
      <%= link_to sp.sample.name, sample_path(sp.sample), data: { turbo_frame: :_top}  %>
    </td>
    <td>
      <%= sp.library_prep %>
    </td>
    <td>
      <%= sp.flow_cell_id %>
    </td>
    <td>
      <%= sp.instrument %>
    </td>
    <td>
      <%= link_to sp.unaligned_data_path, sequencing_product_path(sp), data: { turbo_frame: :_top } %> 
    </td>
    <td>
      <%= sp.strand %>
    </td>
    <td>
      <%= sp.kit %>
    </td>
    <td>
      <%= sp.targeted_capture %>
    </td>
    <td>
      <%= sp.paired_end %>
    </td>
    <td>
      <%= sp.batch %>
    </td>
    <td>
      <%= link_to preview_note_path(subject: 'sequencing_product', id: sp.id), data: { turbo_frame: :modal } do %>
        <%= octicon "note", :height => 24 %>
      <% end %>
    </td>
    <td>
      <%= render partial: 'tags/tag_list', locals: { tags: sp.tags } %>
    </td>
  <% end %>
<% end %>
