<!DOCTYPE html>
<html class="has-background-white-ter">
  <head>
    <title>MetadataManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= content_for :head %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="columns">
      <div class="column is-narrow">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="column">
          <%= turbo_frame_tag :main_content do %>
            <%= yield %>
          <% end %>
      </div>
    </div>
    <%= turbo_frame_tag :modal %>
  </body>
</html>
